<div class="preloader">
    <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
        <span>Ruzo</span>
    </div>
</div>

<div class="switch-theme-mode">
    <label id="switch" class="switch">
        <input type="checkbox" onchange="toggleTheme()" id="slider">
        <span class="slider round"></span>
    </label>
</div>

<div class="submenu-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-9">
                <div class="submenu-left-content">
                    <ul>
                        <li>
                            <img src="/assets/images/phone-icon.svg" alt="icon">
                            <a href="tel:(+0188)76870859">(+0188) 7687 0859</a>
                        </li>
                        <li>
                            <img src="/assets/images/email-icon.svg" alt="icon">
                            <a href="mailto: hello@jaba.com"> hello@jaba.com</a>
                        </li>
                        <li>
                            <img src="/assets/images/map.svg" alt="icon">
                            <p>ایران ، استان تهران ، میدان آزادی</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-3">
                <div class="submenu-right-content">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="navbar-area">

<div class="container">
    <div class="mobile-nav">
        <div class="logo">
            <a href="index.html">
                <img src="/assets/images/logo-1.png" class="logo-light" alt="images">
                <img src="/assets/images/logo-2.png" class="logo-dark" alt="images">
            </a>
        </div>
    </div>
</div>

<div class="main-nav main-nav-three">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light">
            <a href="index.html">
                <img src="/assets/images/logo-1.png" class="logo-light" alt="images">
                <img src="/assets/images/logo-2.png" class="logo-dark" alt="images">
            </a>
            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-item-five">
                        <a href="#" class="nav-link dropdown-toggle active">
                            خانه
                            <i class='bx bx-plus'></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a href="index.html" class="nav-link">صفحه اصلی - 1</a>
                            </li>
                            <li class="nav-item">
                                <a href="index-2.html" class="nav-link">صفحه اصلی - 2</a>
                            </li>
                            <li class="nav-item">
                                <a href="index-3.html" class="nav-link active">صفحه اصلی - 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-item-five">
                        <a href="#" class="nav-link dropdown-toggle">
                            صفحات
                            <i class='bx bx-plus'></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a href="about.html" class="nav-link">درباره ما</a>
                            </li>
                            <li class="nav-item">
                                <a href="booking-table.html" class="nav-link">جدول رزرو</a>
                            </li>
                            <li class="nav-item">
                                <a href="team.html" class="nav-link">تیم ما</a>
                            </li>
                            <li class="nav-item">
                                <a href="testimonials.html" class="nav-link">بازخوردها</a>
                            </li>
                            <li class="nav-item">
                                <a href="faq.html" class="nav-link">سوالات متداول</a>
                            </li>
                            <li class="nav-item nav-item-five">
                                <a href="#" class="nav-link dropdown-toggle">
                                    نمونه کارها
                                    <i class='bx bx-plus'></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="portfolio.html" class="nav-link">نمونه کار</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="portfolio-details.html" class="nav-link">جزئیات نمونه کار</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">
                                    کاربران
                                    <i class='bx bx-plus'></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="my-account.html" class="nav-link bg-border-top">حساب من</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="login.html" class="nav-link">ورود</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="register.html" class="nav-link">ثبت نام</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="forgot-password.html" class="nav-link bg-border-2">فراموشی رمز</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="terms-conditions.html" class="nav-link">قوانین خدمات</a>
                            </li>
                            <li class="nav-item">
                                <a href="privacy-policy.html" class="nav-link">حریم خصوصی</a>
                            </li>
                            <li class="nav-item">
                                <a href="error.html" class="nav-link">خطای 404</a>
                            </li>
                            <li class="nav-item">
                                <a href="coming-soon.html" class="nav-link bg-border-2">به زودی</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link dropdown-toggle">
                            منو
                            <i class='bx bx-plus'></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a href="menu.html" class="nav-link">منو</a>
                            </li>
                            <li class="nav-item">
                                <a href="menu-details.html" class="nav-link">جزئیات منو</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-item-five">
                        <a href="#" class="nav-link dropdown-toggle">
                            فروشگاه
                            <i class='bx bx-plus'></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a href="shop.html" class="nav-link">فروشگاه</a>
                            </li>
                            <li class="nav-item">
                                <a href="shop-details.html" class="nav-link">جزئیات فروشگاه</a>
                            </li>
                            <li class="nav-item">
                                <a href="cart.html" class="nav-link">سبد خرید</a>
                            </li>
                            <li class="nav-item">
                                <a href="checkout.html" class="nav-link">بررسی پرداخت</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-item-five">
                        <a href="#" class="nav-link dropdown-toggle">
                            وبلاگ
                            <i class='bx bx-plus'></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a href="blog.html" class="nav-link bg-border-top">وبلاگ</a>
                            </li>
                            <li class="nav-item">
                                <a href="blog-details.html" class="nav-link bg-border-2">جزئیات وبلاگ</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link">تماس با ما</a>
                    </li>
                </ul>
                <div class="others-option-vg d-flex align-items-center">
                    <div class="option-item">
                        <i class='bx bx-search search-btn'></i>
                        <i class='bx bx-x close-btn'></i>
                        <div class="search-overlay search-popup">
                            <div class='search-box'>
                                <form class="search-form">
                                    <input class="search-input" placeholder="جستجو..." type="text">
                                    <button class="search-button" type="submit">
                                        <i class='bx bx-search'></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="option-item">
                        <div class="shapping-bag">
                            <a href="cart.html">
                                <img src="/assets/images/shopping-bag-icon.svg" alt="images">
                            </a>
                            <div class="shapping-text">
                                01
                            </div>
                        </div>
                    </div>
                    <div class="option-item">
                        <a href="booking-table.html" class="default-btn">رزرو کنید</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="others-option-for-responsive">
    <div class="container">
        <div class="dot-menu">
            <div class="inner">
                <div class="circle circle-one"></div>
                <div class="circle circle-two"></div>
                <div class="circle circle-three"></div>
            </div>
        </div>
        <div class="container">
            <div class="option-inner">
                <div class="others-option justify-content-center d-flex align-items-center">
                    <div class="option-item">
                        <i class='bx bx-search search-btn'></i>
                        <i class='bx bx-x close-btn'></i>
                        <div class="search-overlay search-popup">
                            <div class='search-box'>
                                <form class="search-form">
                                    <input class="search-input" placeholder="جستجو..." type="text">
                                    <button class="search-button" type="submit">
                                        <i class='bx bx-search'></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="option-item">
                        <div class="shapping-bag">
                            <a href="cart.html">
                                <img src="/assets/images/shopping-bag-icon.svg" alt="images">
                            </a>
                            <div class="shapping-text">
                                01
                            </div>
                        </div>
                    </div>
                    <div class="option-item">
                        <a href="booking-table.html" class="default-btn">رزرو کنید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="banner-three-area">
    <div class="container">
        <div class="single-banner-three-content">
            <span>سفارش دهید</span>
            <h1>لذت بردن از غذاهای استثنایی از طعم</h1>
            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
            <a href="about.html" class="default-btn">ادامه خواندن</a>
        </div>
    </div>
</div>

<div class="about-style-three-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-us-three-content">
                    <div class="section-title left-title">
                        <span class="top-title">درباره ما</span>
                        <h2>ما غذای لذیذ و تجربه خاص خوردن داریم</h2>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    </div>
                    <div class="about-odometer-content">
                        <div class="row">
                            <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                                <div class="about-odometer">
                                    <h2>
                                        <span class="odometer" data-count="240">00</span>
                                        <span class="target">+</span>
                                    </h2>
                                    <p>اهداها</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                                <div class="about-odometer">
                                    <h2>
                                        <span class="odometer" data-count="234">00</span>
                                        <span class="target">+</span>
                                    </h2>
                                    <p>ویژه</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                                <div class="about-odometer">
                                    <h2>
                                        <span class="odometer" data-count="134">00</span>
                                        <span class="target">+</span>
                                    </h2>
                                    <p>غذاهای لذیذ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="booking-table.html" class="default-btn">رزرو کنید</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-three-img">
                    <div class="about-three-main-img" data-cue="zoomIn" data-duration="1000">
                        <img src="/assets/images/about/about-style-three-img-3.png" alt="images">
                    </div>
                    <div class="about-three-img-2" data-cue="zoomIn" data-duration="1600">
                        <img src="/assets/images/about/about-style-three-img-1.png" alt="images">
                    </div>
                    <div class="about-three-img-3" data-cue="zoomIn" data-duration="1600">
                        <img src="/assets/images/about/about-style-three-img-2.png" alt="images">
                    </div>
                    <div class="about-three-img-4">
                        <img src="/assets/images/about/about-style-three-shape-1.png" alt="images">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-three-shape-1">
        <img src="/assets/images/about/about-style-three-shape-2.png" alt="images">
    </div>
    <div class="about-three-shape-2">
        <img src="/assets/images/about/about-style-three-shape-3.png" alt="images">
    </div>
</div>

<div class="services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="top-title">خدمات ما</span>
            <h2>پیشنهاد ویژه ما را امتحان کنید</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6" data-cue="slideInUp">
                <div class="single-discover-card services-card">
                    <img src="/assets/images/discover/discover-1.png" alt="images">
                    <a href="services.html">
                        <h3>محصولات تازه</h3>
                    </a>
                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    <a href="services.html" class="discover-more">کاوش بیشتر</a>
                    <div class="services-shape">
                        <img src="/assets/images/discover/discover-5.png" alt="images">
                    </div>
                    <div class="services-shape-2">
                        <img src="/assets/images/discover/discover-shape-1.png" alt="images">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6" data-cue="slideInUp">
                <div class="single-discover-card services-card">
                    <img src="/assets/images/discover/discover-2.png" alt="images">
                    <a href="services.html">
                        <h3>سرآشپزهای ماهر</h3>
                    </a>
                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    <a href="services.html" class="discover-more">کاوش بیشتر</a>
                    <div class="services-shape">
                        <img src="/assets/images/discover/discover-6.png" alt="images">
                    </div>
                    <div class="services-shape-2">
                        <img src="/assets/images/discover/discover-shape-2.png" alt="images">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6" data-cue="slideInUp">
                <div class="single-discover-card services-card">
                    <img src="/assets/images/discover/discover-3.png" alt="images">
                    <a href="services.html">
                        <h3>برترین کافه</h3>
                    </a>
                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    <a href="services.html" class="discover-more">کاوش بیشتر</a>
                    <div class="services-shape">
                        <img src="/assets/images/discover/discover-7.png" alt="images">
                    </div>
                    <div class="services-shape-2">
                        <img src="/assets/images/discover/discover-shape-3.png" alt="images">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="menu-three-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="menu-three-images">
                    <img src="/assets/images/menu/menu-three-img.png" alt="images">
                    <div class="years-experience">
                        <img src="/assets/images/menu/menu-three-ext-1.png" alt="images">
                        <div class="experience-odometer">
                            <h2>
                                <span class="odometer" data-count="21">00</span>
                            </h2>
                            <p>سال تجربه</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="menu-three-content">
                    <div class="section-title left-title">
                        <span class="top-title">از منوی ما</span>
                        <h2>پیشنهاد روزانه رستوران ما را امتحان کنید</h2>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    </div>
                    <div class="menu-three-text-content">
                        <div class="row align-items-center">
                            <div class="col-lg-2 col-3 col-md-2">
                                <div class="menu-img-three">
                                    <a href="menu.html">
                                        <img src="/assets/images/menu/menu-three-1.png" alt="images">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-7 col-md-8">
                                <div class="menu-three-text">
                                    <h3>کافه آلتین <i class='bx bx-chevron-left'></i></h3>
                                    <p>قهوه تازه</p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-2 col-md-2">
                                <div class="menu-numder">
                                    <p>23 تومان</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-three-text-content">
                        <div class="row align-items-center">
                            <div class="col-lg-2 col-3 col-md-2">
                                <div class="menu-img-three">
                                    <a href="menu.html">
                                        <img src="/assets/images/menu/menu-three-2.png" alt="images">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-7 col-md-8">
                                <div class="menu-three-text">
                                    <h3>کافه آلتین <i class='bx bx-chevron-left'></i></h3>
                                    <p>قهوه تازه</p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-2 col-md-2">
                                <div class="menu-numder">
                                    <p>43 تومان</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-three-text-content">
                        <div class="row align-items-center">
                            <div class="col-lg-2 col-3 col-md-2">
                                <div class="menu-img-three">
                                    <a href="menu.html">
                                        <img src="/assets/images/menu/menu-three-3.png" alt="images">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-7 col-md-8">
                                <div class="menu-three-text">
                                    <h3>کیک هویج <i class='bx bx-chevron-left'></i></h3>
                                    <p>قهوه تازه</p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-2 col-md-2">
                                <div class="menu-numder">
                                    <p>53 تومان</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-three-text-content">
                        <div class="row align-items-center">
                            <div class="col-lg-2 col-3 col-md-2">
                                <div class="menu-img-three">
                                    <a href="menu.html">
                                        <img src="/assets/images/menu/menu-three-4.png" alt="images">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-7 col-md-8">
                                <div class="menu-three-text">
                                    <h3>ماهی سالمون لوکس <i class='bx bx-chevron-left'></i></h3>
                                    <p>قهوه تازه</p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-2 col-md-2">
                                <div class="menu-numder">
                                    <p>13 تومان</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="menu.html" class="default-btn">مشاهده منو</a>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-three-shape-1">
        <img src="/assets/images/menu/menu-three-shape-1.png" alt="images">
    </div>
    <div class="menu-three-shape-2">
        <img src="/assets/images/menu/menu-three-shape-2.png" alt="images">
    </div>
</div>

<div class="visit-today-area pt-100 pb-100 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="section-title">
            <span class="top-title">امروز از ما دیدن کنید</span>
            <h2>رزرو کنید</h2>
        </div>
        <form class="reserve-from reserve-from-two">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="نام">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="تلفن">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>شخص</option>
                            <option value="1">یک</option>
                            <option value="2">دو</option>
                            <option value="3">سه</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="input-group date">
                                <input id="pdpF2" type="text" class="form-control" placeholder="روز / ماه / سال">
                                <span class="input-group-addon"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>زمان</option>
                            <option value="1">08:00 عصر – 05:00صبح</option>
                            <option value="2">09:00 عصر – 06:00صبح</option>
                            <option value="3">10:00 عصر – 05:00صبح</option>
                            <option value="4">09:00 عصر – 05:00صبح</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="ایمیل">
                    </div>
                </div>
                <div class="col-lg-12 col-sm-6 col-md-12">
                    <button type="submit" class="default-btn">رزرو کنید</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="portfolio-style-three-area pt-100">
    <div class="container-fluid">
        <div class="section-title left-title">
            <span class="top-title">نمونه کارهای ما</span>
            <h2>احساس الهی از طعم</h2>
        </div>
        <div class="portfolio-three-slider owl-carousel owl-theme">
            <div class="single-portfolio-three-item">
                <div class="portfolio-img">
                    <a href="portfolio-details.html">
                        <img src="/assets/images/portfolio/portfolio-three-5.png" alt="images">
                    </a>
                </div>
                <div class="portfolio-card">
                    <a href="portfolio-details.html">
                        <h3>دینک مرغ</h3>
                    </a>
                    <span>صبحانه</span>
                </div>
            </div>
            <div class="single-portfolio-three-item">
                <div class="portfolio-img">
                    <a href="portfolio-details.html">
                        <img src="/assets/images/portfolio/portfolio-three-1.png" alt="images">
                    </a>
                </div>
                <div class="portfolio-card">
                    <a href="portfolio-details.html">
                        <h3>کاپ کیک تمشک</h3>
                    </a>
                    <span>نوشیدنی</span>
                </div>
            </div>
            <div class="single-portfolio-three-item">
                <div class="portfolio-img">
                    <a href="portfolio-details.html">
                        <img src="/assets/images/portfolio/portfolio-three-2.png" alt="images">
                    </a>
                </div>
                <div class="portfolio-card">
                    <a href="portfolio-details.html">
                        <h3>کاپ کیک سبزیجات</h3>
                    </a>
                    <span>دسر</span>
                </div>
            </div>
            <div class="single-portfolio-three-item">
                <div class="portfolio-img">
                    <a href="portfolio-details.html">
                        <img src="/assets/images/portfolio/portfolio-three-3.png" alt="images">
                    </a>
                </div>
                <div class="portfolio-card">
                    <a href="portfolio-details.html">
                        <h3>دینک مرغ</h3>
                    </a>
                    <span>دستور پخت</span>
                </div>
            </div>
            <div class="single-portfolio-three-item">
                <div class="portfolio-img">
                    <a href="portfolio-details.html">
                        <img src="/assets/images/portfolio/portfolio-three-4.png" alt="images">
                    </a>
                </div>
                <div class="portfolio-card">
                    <a href="portfolio-details.html">
                        <h3>هدایای دریا</h3>
                    </a>
                    <span>دستور غذاها</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="odometer-area odometer-three-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-12 col-sm-2 col-md-2" data-cues="fadeIn" data-duration="1500">
                <div class="fun-odometer">
                    <h2>
                        <span class="odometer" data-count="287">00</span>
                        <span class="target">+</span>
                    </h2>
                    <p>مشتریان هر روز</p>
                </div>
            </div>
            <div class="col-lg-10 col-sm-10 col-md-10">
                <div class="row">
                    <div class="col-lg-3 col-6 col-sm-3 col-md-3" data-cues="fadeIn" data-duration="1500">
                        <div class="fun-odometer">
                            <h2>
                                <span class="odometer" data-count="45">00</span>
                                <span class="target">+</span>
                            </h2>
                            <p>جدول موجود</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 col-sm-3 col-md-3" data-cues="fadeIn" data-duration="1500">
                        <div class="fun-odometer">
                            <h2>
                                <span class="odometer" data-count="70">00</span>
                                <span class="target">+</span>
                            </h2>
                            <p>گزینه صبحانه</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 col-sm-3 col-md-3" data-cues="fadeIn" data-duration="1500">
                        <div class="fun-odometer">
                            <h2>
                                <span class="odometer" data-count="10">00</span>
                                <span class="target">+</span>
                            </h2>
                            <p>گزینه شام</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6 col-sm-3 col-md-3" data-cues="fadeIn" data-duration="1500">
                        <div class="fun-odometer">
                            <h2>
                                <span class="odometer" data-count="25">00</span>
                                <span class="target">+</span>
                            </h2>
                            <p>سال تجربه</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="location-area location-three-area pt-100 pb-100 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="location-map">
                    <img src="/assets/images/location-map-img.png" alt="images">
                    <div class="location-text">
                        <span></span>
                        <p>برزیل</p>
                    </div>
                    <div class="location-text location-1">
                        <span></span>
                        <p>پرو</p>
                    </div>
                    <div class="location-text location-2">
                        <span></span>
                        <p>اکوادور</p>
                    </div>
                    <div class="location-text location-3">
                        <span></span>
                        <p>شیلی</p>
                    </div>
                    <div class="location-text location-4">
                        <span></span>
                        <p>آفریقای جنوبی</p>
                    </div>
                    <div class="location-text location-5">
                        <span></span>
                        <p>انگلستان</p>
                    </div>
                    <div class="location-text location-6">
                        <span></span>
                        <p>لیبی</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-location-content">
                    <div class="section-title left-title">
                        <span class="top-title">مکان ما را پیدا کنید</span>
                        <h2>مکان های رستوران ما در سراسر جهان</h2>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد.</p>
                    </div>
                    <h3>از کجا رستوران ما را بخرید</h3>
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            <div class="location-list">
                                <ul>
                                    <li>
                                        <i class='bx bx-check'></i>لذت ساختگی
                                    </li>
                                    <li>
                                        <i class='bx bx-check'></i>از متهمان
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            <div class="location-list">
                                <ul>
                                    <li>
                                        <i class='bx bx-check'></i>حروفچینی
                                    </li>
                                    <li>
                                        <i class='bx bx-check'></i>باور عمومی
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4">
                            <div class="location-list">
                                <ul>
                                    <li>
                                        <i class='bx bx-check'></i>ایجاد
                                    </li>
                                    <li>
                                        <i class='bx bx-check'></i>بسیاری از تغییرات
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="about.html" class="default-btn">ادامه خواندن</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team-restaurant-area pt-100 pb-100">
<div class="container">
<div class="section-title left-title">
    <span class="top-title">تیم رستوران</span>
    <h2>با حرفه ای های ما آشنا شوید</h2>
    <div class="menu-view-btn">
        <a href="menu-details.html" class="default-btn">مشاهده همه</a>
    </div>
</div>
<div class="team-restaurant-slider owl-carousel owl-theme">
<div class="single-team-restaurant-card">
    <div class="team-restaurant-img">
        <a href="menu-details.html">
            <img src="/assets/images/restaurant/restaurant-three-imag-1.jpg" alt="images">
        </a>
        <ul class="team-restaurant-list-icon">
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class='bx bxl-instagram'></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class='bx bxl-linkedin'></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class='bx bxl-twitter'></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class='bx bxl-facebook'></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="restaurant-content">
        <a href="menu-details.html">
            <h3>کریسمس مبارک</h3>
        </a>
        <p>دستیار آشپز</p>
    </div>
</div>
<div class="single-team-restaurant-card">
    <div class="team-restaurant-img">
        <a href="menu-details.html">
            <img src="/assets/images/restaurant/restaurant-three-imag-2.jpg" alt="images">
        </a>
        <ul class="team-restaurant-list-icon">
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class='bx bxl-instagram'></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class='bx bxl-linkedin'></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class='bx bxl-twitter'></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class='bx bxl-facebook'></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="restaurant-content">
        <a href="menu-details.html">
            <h3>کریسمس مبارک</h3>
        </a>
        <p>رئیس</p>
    </div>
</div>
<div class="single-team-restaurant-card">
    <div class="team-restaurant-img">
        <a href="menu-details.html">
            <img src="/assets/images/restaurant/restaurant-three-imag-3.jpg" alt="images">
        </a>
        <ul class="team-restaurant-list-icon">
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class='bx bxl-instagram'></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class='bx bxl-linkedin'></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class='bx bxl-twitter'></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class='bx bxl-facebook'></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="restaurant-content">
        <a href="menu-details.html">
            <h3>شارون نیدلز</h3>
        </a>
        <p>مدیر مالی</p>
    </div>
</div>
<div class="single-team-restaurant-card">
    <div class="team-restaurant-img">
        <a href="menu-details.html">
            <img src="/assets/images/restaurant/restaurant-three-imag-1.jpg" alt="images">
        </a>
        <ul class="team-restaurant-list-icon">
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class='bx bxl-instagram'></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class='bx bxl-linkedin'></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class='bx bxl-twitter'></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class='bx bxl-facebook'></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="restaurant-content">
        <a href="menu-details.html">
            <h3>کریسمس مبارک</h3>
        </a>
        <p>دستیار آشپز</p>
    </div>
</div>
<div class="single-team-restaurant-card">
    <div class="team-restaurant-img">
        <a href="menu-details.html">
            <img src="/assets/images/restaurant/restaurant-three-imag-2.jpg" alt="images">
        </a>
        <ul class="team-restaurant-list-icon">
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class='bx bxl-instagram'></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class='bx bxl-linkedin'></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class='bx bxl-twitter'></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class='bx bxl-facebook'></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="restaurant-content">
        <a href="menu-details.html">
            <h3>کریسمس مبارک</h3>
        </a>
        <p>رئیس</p>
    </div>
</div>
<div class="single-team-restaurant-card">
    <div class="team-restaurant-img">
        <a href="menu-details.html">
            <img src="/assets/images/restaurant/restaurant-three-imag-3.jpg" alt="images">
        </a>
        <ul class="team-restaurant-list-icon">
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class='bx bxl-instagram'></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class='bx bxl-linkedin'></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class='bx bxl-twitter'></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class='bx bxl-facebook'></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="restaurant-content">
        <a href="menu-details.html">
            <h3>شارون نیدلز</h3>
        </a>
        <p>مدیر مالی</p>
    </div>
</div>
</div>
</div>
<div class="team-restaurant-shape-1">
    <img src="/assets/images/restaurant/restaurant-img-shape-2.png" alt="images">
</div>
<div class="team-restaurant-shape-2">
    <img src="/assets/images/restaurant/restaurant-img-shape-3.png" alt="images">
</div>
</div>

<div class="video-play-area jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="single-video-play-item">
            <div class="video-play-content">
                <a href="https://www.youtube.com/watch?v=-z-wtyXjFIg" class="popup-youtube">
                    <img src="/assets/images/video-play.svg" alt="images">
                </a>
            </div>
            <span>مشاهده ویدئو</span>
        </div>
    </div>
</div>

<div class="blog-three-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="top-title">وبلاگ ما</span>
            <h2>آخرین وبلاگ و اخبار</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6" data-cue="slideInUp">
                <div class="single-blog-card blog-card-three">
                    <div class="blog-img">
                        <a href="blog-details.html">
                            <img src="/assets/images/blog/blog-1.jpg" alt="images">
                        </a>
                        <div class="blog-time">
                            <span>17 دی 1401</span>
                        </div>
                    </div>
                    <div class="single-blog-content">
                        <ul>
                            <li>توسط <a href="blog-details.html">مدیر</a></li>
                            <li>رستوران</li>
                        </ul>
                        <a href="blog-details.html">
                            <h3>دسر شیک 10 نکته برای درست کردن آن در خانه</h3>
                        </a>
                        <a href="blog-details.html" class="discover-more">ادامه خواندن</a>
                    </div>
                    <div class="blog-three-option-card blog-bg-img-1">
                        <div class="blog-option-content">
                            <a href="blog-details.html">
                                <h3>دریافت 20% تخفیف</h3>
                            </a>
                            <p>
                                <a href="blog-details.html">پیشنهاد ویژه مدت زمان محدود</a>
                            </p>
                        </div>
                        <div class="option-date">
                            <span>14</span>
                            <p>دی</p>
                        </div>
                        <div class="blog-option-shape">
                            <img src="/assets/images/blog/blog-three-shape-1.png" alt="images">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6" data-cue="slideInUp">
                <div class="single-blog-card blog-card-three">
                    <div class="blog-img">
                        <a href="blog-details.html">
                            <img src="/assets/images/blog/blog-2.jpg" alt="images">
                        </a>
                        <div class="blog-time">
                            <span>17 دی 1401</span>
                        </div>
                    </div>
                    <div class="single-blog-content">
                        <ul>
                            <li>توسط <a href="blog-details.html">مدیر</a></li>
                            <li>رستوران</li>
                        </ul>
                        <a href="blog-details.html">
                            <h3>دسر شیک 10 نکته برای درست کردن آن در خانه</h3>
                        </a>
                        <a href="blog-details.html" class="discover-more">ادامه خواندن</a>
                    </div>
                    <div class="blog-three-option-card blog-bg-img-2">
                        <div class="blog-option-content">
                            <a href="blog-details.html">
                                <h3>دریافت 20% تخفیف</h3>
                            </a>
                            <p>
                                <a href="blog-details.html">پیشنهاد ویژه مدت زمان محدود</a>
                            </p>
                        </div>
                        <div class="option-date">
                            <span>18</span>
                            <p>دی</p>
                        </div>
                        <div class="blog-option-shape">
                            <img src="/assets/images/blog/blog-three-shape-1.png" alt="images">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6" data-cue="slideInUp">
                <div class="single-blog-card blog-card-three">
                    <div class="blog-img">
                        <a href="blog-details.html">
                            <img src="/assets/images/blog/blog-3.jpg" alt="images">
                        </a>
                        <div class="blog-time">
                            <span>17 دی 1401</span>
                        </div>
                    </div>
                    <div class="single-blog-content">
                        <ul>
                            <li>توسط <a href="blog-details.html">مدیر</a></li>
                            <li>رستوران</li>
                        </ul>
                        <a href="blog-details.html">
                            <h3>دسر شیک 10 نکته برای درست کردن آن در خانه</h3>
                        </a>
                        <a href="blog-details.html" class="discover-more">ادامه خواندن</a>
                    </div>
                    <div class="blog-three-option-card">
                        <div class="blog-option-content">
                            <a href="blog-details.html">
                                <h3>دریافت 20% تخفیف</h3>
                            </a>
                            <p>
                                <a href="blog-details.html">پیشنهاد ویژه مدت زمان محدود</a>
                            </p>
                        </div>
                        <div class="option-date">
                            <span>23</span>
                            <p>دی</p>
                        </div>
                        <div class="blog-option-shape">
                            <img src="/assets/images/blog/blog-three-shape-1.png" alt="images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-widget-area footer-three-area  pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6" data-cue="slideInUp">
                <div class="footer-widget">
                    <a href="index.html">
                        <img src="/assets/images/logo-1.png" alt="images">
                    </a>
                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    <ul class="footer-widget-list">
                        <li>
                            <a href="https://facebook.com" target="_blank">
                                <i class='bx bxl-facebook'></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com" target="_blank">
                                <i class='bx bxl-twitter'></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://linkedin.com" target="_blank">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com" target="_blank">
                                <i class='bx bxl-google'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6" data-cue="slideInUp">
                <div class="footer-widget">
                    <h2>لینکهای مفید</h2>
                    <ul class="footer-list">
                        <li>
                            <i class='bx bxs-downvote'></i><a href="about.html">درباره ما</a>
                        </li>
                        <li>
                            <i class='bx bxs-downvote'></i><a href="blog.html">اخبار وبلاگ</a>
                        </li>
                        <li>
                            <i class='bx bxs-downvote'></i><a href="booking-table.html">رزرو</a>
                        </li>
                        <li>
                            <i class='bx bxs-downvote'></i><a href="contact.html">تماس با ما</a>
                        </li>
                        <li>
                            <i class='bx bxs-downvote'></i><a href="team.html">تیم ما</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6" data-cue="slideInUp">
                <div class="footer-widget footer-services">
                    <h2>ساعت های کاری</h2>
                    <ul class="footer-list">
                        <li>
                            دوشنبه <span>08:00 عصر – 05:00 صبح</span>
                        </li>
                        <li>
                            سه شنبه <span>09:00 عصر – 06:00 صبح</span>
                        </li>
                        <li>
                            چهارشنبه <span>10:00 عصر – 05:00 صبح</span>
                        </li>
                        <li>
                            جمعه <span>09:00 عصر – 05:00 صبح</span>
                        </li>
                        <li>
                            شنبه - یکشنبه <span>بسته</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6" data-cue="slideInUp">
                <div class="footer-widget">
                    <h2>در تماس باشید</h2>
                    <div class="footer-item">
                        <i class='bx bxs-phone-call'></i>
                        <a href="tel:(800)2162020">(800) 216 2020</a>
                    </div>
                    <div class="footer-item">
                        <i class='bx bx-envelope'></i>
                        <a href="mailto: hello@jaba.com"> hello@jaba.com</a>
                    </div>
                    <div class="footer-item">
                        <i class='bx bx-map'></i>
                        <p>ایران ، استان تهران ، میدان آزادی خیابان 9 غربی</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-shape-1">
        <img src="/assets/images/footer/footer-shape-1.png" alt="images">
    </div>
    <div class="footer-shape-2">
        <img src="/assets/images/footer/footer-shape-2.png" alt="images">
    </div>
    <div class="footer-shape-3">
        <img src="/assets/images/footer/footer-shape-3.png" alt="images">
    </div>
    <div class="footer-shape-4">
        <img src="/assets/images/footer/footer-shape-4.png" alt="images">
    </div>
</div>

<div class="copyright-content copyright-three-content">
    <p>© <span>روزو</span>. تمامی حقوق قالب محفوظ است. طراحی و توسعه توسط <a href="https://www.rtl-theme.com/author/barat" target="_blank">Barat Hadian</a></p>
</div>

<div class="go-top">
    <i class='bx bxl-upwork'></i>
    <i class='bx bxl-upwork'></i>
</div>